
PORT = 8000

MONGO_URI=mongodb+srv://omar:12359lr@cluster0.o0abca3.mongodb.net/?appName=Cluster0



JWT_SECRET=Zwqdqwd88##
JWT_REFRESH_SECRET=Werqwdkjwqo55#$


CLOUDINARY_CLOUD_NAME=do4ossz1v
CLOUDINARY_API_KEY=94566466611652
CLOUDINARY_API_SECRET=JyqFJ62K9LKNF5FFLe6pglU7iK0w